* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // text-align: center;
}

body {
  // margin: auto;
  padding: 1em;
  // width: 90%;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

button {
  // padding: 0.5rem 6rem;
  width: 50%;
  height: 2rem;
  max-width: 300px;
}

.in {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.stats {
  margin-top: 2em;
  ul {
    margin-top: 1em;
    list-style: none;
    text-align: right;
  }
}
